.digitalPresence{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem auto;
    width: 75%;
}

.btn{
    height: 3rem;
    border-radius: 2rem;
    margin-top:2rem;
}

.digitalPresence h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom:2rem;
}

.mobile-img{
    width: 602px;
    height: 631px;
    margin-right:2rem;
}
.digitalContent{
    margin-left: 5rem;
}