.intro{
    margin-top: 2rem;
    width: 30rem;
    font-family: 'Inter';
}
.intro .heading{
    font-size: 48px;
    font-weight: 800;
}
.intro .description{
    font-size: 24px;
    font-weight: 700;
    margin-top: 1rem;
}
.intro .followers{
    margin-left: 2rem;
    margin-top: 1rem;
    height: 5rem;
    width: 20rem;
    background-color: #FFFCF2;
    border-radius: 12px;
}