.readyBanner{
    display: flex;
    background-color: #FFFCF2;
    width: 70%;
    margin:0rem auto;
    height: 17rem;
    border-radius: 2rem;
}
.content{
    margin: 2rem 2rem;
    width: 60%;
}
.content h1{
    font-size: 46px;
    font-weight: 800;
}
.controls{
    margin-top: 2rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.btn{
    height: 3rem;
    border-radius: 2rem;
}
.image img{
    height: 15rem;
    width: 15rem;
}
