.benefit{
    margin: 5rem auto;
    width: 100%;
}
.benefit h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
/* .benefit table{
    margin: 2rem auto;
    width: 80%;
    background-color: transparent;
}
.benefit table tr{
    height: 5rem;
}
.benefit table tr td{
}
.benefit table tr td p{
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 600;
}
.benefit table tr td img{
    width: 67px;
    height: 67px;
} */
.benefitCard{
    margin: 1rem auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,40%);
}
.benefitCard div{
    margin-top: 2rem;
}
.benefitCard div p{
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 600;
}