.navbar{
    height: 4rem;
    background-color: inherit;
    display: flex;
    align-items: center;
    font-family: "Inter";
    background-color: #E5E5E5;
}
.logo{
    margin-left: 8rem;
    font-size: 1.4rem;
    font-weight: 900;
}
.navContainer{
    margin-left: auto;
    margin-right: 2rem;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navContainer a{
    text-decoration: none;
    color: black;
}
.navs{
    font-size: 1rem;
}