.createAndEvolve{
    margin: 5rem auto;
    width: 90%;
    text-align:center;
}

.createAndEvolve h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}


.createAndEvolve table{
    margin: 2rem auto;
    width: 85%;
    background-color: transparent;
}

.card-title{
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 700;
}

.card-desc{
    font-weight: 400;
    font-size: 16px;
    color: #727888;
}
