.question{
    margin-top: 1rem;
}
.question hr{
    width: 80%;
    margin: 0.5rem auto;
}
.quesCard{
    margin: 0rem auto;
    width: 80%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.quesCard p{
    color: black;
    width: 80%;
    font-weight: 400;
    font-size: 24px;
}
.answer{
    margin: 1rem auto;
    width: 80%;
    animation: slide 0.5s ease-in normal forwards;
}
.collapseIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.collapseIcon:hover{
    cursor: pointer;
}
@keyframes slide {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}