* {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	font-family: "Inter";
}
.App {
	background-color: hsla(28, 100%, 80%, 1);
	background-image: radial-gradient(at 74% 26%, hsla(342, 0%, 84%, 1) 0px, transparent 50%),
		radial-gradient(at 18% 71%, hsla(134, 0%, 84%, 1) 0px, transparent 50%);
}
