.btn{
    height: 2rem;
    padding: 5px 20px;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #FF7A3D;
    color:white;
    font-family: "Inter";
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: #FF7A3D;
}
/* .btn:disabled,
.btn:disabled:hover,
.btn:disabled:active{
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
} */